{% extends 'layout/theme.html' %}


{% block css %}

{% endblock %}
{% block container %}
<main class="container mt-3">
    <div class="card-columns">
        <div class="card text-warning">  
            <img class="card-img-top" src="https://source.unsplash.com/daily?nature" alt="Card image top">
            <div class="card-img-overlay">
                <h3 class="card-title">Raspberry PI images</h3>
                <h4 class="card-subtitle"> <i class="fas fa-camera"></i> Using Webcam</h4>
                <p class="card-text">And some sensors</p>
            </div>
        </div>
        {% for image in files %}
        <div class="card text-warning">  
                <img class="card-img-top" src="https://source.unsplash.com/daily?nature" alt="Card image top">
                <div class="card-img-overlay">
                    <h3 class="card-title">filename</h3>
                    <h4 class="card-subtitle"> <i class="fas fa-camera"></i> Captured on</h4>
                    <p class="card-text">date</p>
                </div>
            </div>    
        {% endfor %}
    </div>
</main>
{% endblock %}
{% block js %}

{% endblock %}

